<h1>uToob Movies</h1>
<%= link_to 'Upload a New Movie', new_movie_path %>
<ul>
  <% @movies.each do |movie| %>
  <h1><%= movie.title %>, <%= movie.genre %><h1>
  <iframe src="<%= movie.trailer %>"></iframe>
  <br />
  <p><%= movie.description %></p>
  <hr />
  <%= link_to 'Add Comment', movie_comments_path(movie) %> 
  <% end %>

</ul>
