<h1>uToob Movies</h1>
<h2 class="ui button tan"><%= link_to 'Upload a New Movie', new_movie_path %></h2>
<hr>
  <div class="ui relaxed grid container">
  
        <% @movies.each do |movie| %>
        <div class="sixteen wide mobile eight wide tablet four wide computer column">
          <div class="content">
            <div class="image">
              <iframe src="<%= movie.trailer %>"></iframe>
            </div>
            <h1 class='header'><%= link_to movie.title, movie_path(movie) %></h1>
            <h3 class="meta"> <%= movie.genre %></h3>
            <p class="description"><%= movie.duration %></p>
            <%= link_to 'Add Comment', movie_comments_path(movie) %> 
          </div>
        </div>
        <% end %>
    </div>
</div>
