  <h1><%= @movie.title %></h3>
  <h3><%= @movie.genre %></h3>
  <iframe src="<%= @movie.trailer %>"></iframe>
  <br />
  <p><%= @movie.description %></p>
  <p><%= @movie.duration %></p>
  <h2 class="ui button tan"><%= link_to 'Add Comment', movie_comments_path(@movie) %></h2>
  <hr />
