<h1><%= @account.name %></h1>
<hr />
<h2>What would you like to do?</h2>
<h3><%= link_to 'View ALL Movies', movies_path %></h3>
<br />
<%= link_to "Add Songs To Playlist", add_movie_account_path(@account), class: "ui button tan", method: :get %>
<%= link_to 'Edit Playlist', edit_account_path(@account), class: "ui button tan"%>
<%= link_to 'Delete Playlist', @account, class: "ui button tan", method: :delete %>
<br />
<% @movies.each do |movie| %>
<% if @array != nil %>
<% if @array.include? movie.id.to_s %>
<br />
<%= movie.title %> <%= link_to movie.title, movie_path(movie) %></li>
<% end %>
<% end %>
<% end %>
